/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Fname]
      ,[Minit ]
      ,[Lname ]
      ,[Ssn ]
      ,[Bdate ]
      ,[Address ]
      ,[Sex ]
      ,[Salary ]
      ,[Super_ssn ]
      ,[Dno]
  FROM [L16-5443].[dbo].[employee$]


USE [L16-5443]
SELECT * FROM employee$

SELECT * FROM department$

SELECT * FROM dependant$

SELECT * FROM dept_locations$

SELECT * FROM project$

SELECT * FROM works_on$