.top-section
{
    width: 1000px;
    height: 40px;
    margin: 0 auto;
}

.top-section-option
{
    float: left;
    font-weight: bold;
    font-size: 110%;
    padding: 5px 38px 10px 38px;
    line-height: 40px;
}

.border
{
    border-left: 1px #CCCCCC solid;
    height: 85%;
}

.clear-floats
{
    clear: both;
}

.heading-section-container
{
    width: 100%;
    height: 40px;
    background-color: #002A5C;
}

.heading-section
{
    width: 1000px;
    height: 40px;
    margin: 0 auto;
}

#news-label
{
    color: white; 
    font-size: 150%; 
    padding-left: 40px;
    line-height: 40px;
}

.news-section
{
    width: 1000px;
    margin: auto;
}

#news-headline
{
    font-weight: bold;
    font-size: 180%;
    padding: 100px;
}

.upcoming-matches-section
{
    width: 1000px;
    margin: auto;
}

#fixtures-table
{
    width: 90%;
    height: 15%;
    border: black solid;
    margin: 10px 40px;
    text-align: center;
}